body{
    background-image: url(https://images8.alphacoders.com/136/thumb-1920-1360708.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-display: optional;
    font-variant: normal;
    padding: 15%;
    box-shadow: 15cm;
    border-radius: 15%;

}
